<div class="container">
    <div class="header">
        <p>Movimientos</p>
        <button ng-click="logout()" class="btn btn-info">Cerrar sesión</button>
    </div>
    <div class="sidebar1">
        <div id="grid-nav">
            <div id="profile-img">
                <img id="user-profile-img" src="{{imgUsuario}}" alt="imagen-perfil">
            </div>
            <div class="navbar-collapse collapse" id="nav-list">
                <ul class="nav flex">
                    <li class="nav-item w-100">
                        <a class="nav-link" ng-href="/ulance/client/main">
                            <span class="display-1-inblock">
                                Home
                            </span>
                        </a>
                    </li>

                    <li class="nav-item w-100">
                        <a class="nav-link active" ng-href="/ulance/client/profile">
                            <span class="display-2-inblock">
                                Profile
                            </span>
                        </a>
                    </li>

                    <li class="nav-item w-100">
                        <a class="nav-link" ng-href="/ulance/client/cuentas">
                            <span class="display-3-inblock">
                                Cuentas
                            </span>
                        </a>
                    </li>

                    <li class="nav-item w-100">
                        <a class="nav-link" ng-href="/ulance/client/banco">
                            <span class="display-4-inblock">
                                Banco
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="main-movimientos">
        <table id="table-users">
            <tbody>
                <th>Id</th>
                <th>Concepto</th>
                <th>Cantidad</th>
                <th>Fecha</th>
                <tr ng-repeat="registros in pagina">
                    <td>
                        <div>{{registros.id}}</div>
                    </td>
                    <td>
                        <div>{{registros.concepto}}</div>
                    </td>
                    <td>
                        <div>{{registros.cantidad}}</div>
                    </td>
                    <td>
                        <div>{{registros.fecha}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="sidebar2">
        Balance
        <div id="canvas-container">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>