div {
    border: 1px solid black;
}

.container {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    text-align: center;
    justify-content: space-around;
    grid-template-rows: 100px auto auto auto auto auto 0px;
    grid-template-columns: 1fr 0.5fr 2fr 1fr 2fr 0.5fr;
}

.header {
    grid-area: 1 / 2 / 2 / 7;
    background-color: cornflowerblue;
}

.sidebar1 {
    grid-area: 1 / 1 / 7 / 2;
    background-color: chartreuse;
}

#grid-nav {
    display: grid;
    grid-gap: 15px;
}

#profile-img {
    height: 100px;
    width: auto;
    padding-bottom: 10em;
}

#nav-list {
    text-align: center;
    height: auto;
    display: grid;
    justify-content: space-around;
    padding: 3px;  
}

.main {
    grid-area: 2 / 2 / 7 / 5;
    padding-top: 5em;
}

.main-profile {
    grid-area: 2 / 2 / 7 / 4;
    padding-top: 5em;
}

.main-cuentas {
    grid-area: 2 / 2 / 7 / 7;
}

.main-banco {
    grid-area: 2 / 2 / 7 / 7;
}

#img-profile {
    display: flex;
    height: 150px;
    width: 150px;
    margin: auto;
    background-color: red;
}

#button-upload-img-profile {
    padding-top: 2em;
}

.data-profile {
    grid-area: 2 / 4 / 7 / 7;
}

#grid-main {
    display: grid;
    grid-gap: 15px;
    height: 250px;
    justify-content: space-around;
    padding: 2em;
    grid-template-columns: repeat(2, 1fr);
}

#grid-main > div {
    background-color: chocolate;
    color: white;
}

.sidebar2 {
    grid-area: 2 / 5 / 7 / 7;
}