<div class="container">
    <div id="formularioLogin">

        <form class="form-signin" id="formToSignIn" ng-submit="login()">
            <input type="text" id="inputUser" ng-model="user.username" class="form-control" placeholder="Username" required autofocus
                name="login">
            </br>
            <input type="password" id="inputPassword" ng-model="user.password" class="form-control" placeholder="Password" required name="pass">
            <br/>
            <button id="accessToAPP" class="btn btn-warning" type="submit">Sign in</button>
        </form>
    </div>
    <div>
        <img id="logoLogin" src="img/ulance-logo.png" alt="logo-aplicacion">
    </div>
</div>