<div class="container">
    <div class="header">
        <p>Inicio</p>
        <button ng-click="logout()" class="btn btn-info">Cerrar sesión</button>
    </div>
    <div class="sidebar1">
        <div id="grid-nav">
            <div id="profile-img">
                <img id="user-profile-img" src="{{imgUsuario}}" alt="imagen-perfil">
            </div>
            <div class="navbar-collapse collapse" id="nav-list">
                <ul class="nav flex">
                    <li class="nav-item w-100">
                        <a class="nav-link active" ng-href="/ulance/client/main">
                            <span class="display-1-inblock">
                                Home
                            </span>
                        </a>
                    </li>

                    <li class="nav-item w-100">
                        <a class="nav-link" ng-href="/ulance/client/profile">
                            <span class="display-2-inblock">
                                Profile
                            </span>
                        </a>
                    </li>

                    <li class="nav-item w-100">
                        <a class="nav-link" ng-href="/ulance/client/cuentas">
                            <span class="display-3-inblock">
                                Cuentas
                            </span>
                        </a>
                    </li>

                    <li class="nav-item w-100">
                        <a class="nav-link" ng-href="/ulance/client/banco">
                            <span class="display-4-inblock">
                                Banco
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main">
        <div id="grid-main">
            <a id="secciones" ng-click="registros()">
                <p>Registros globales</p>
                <img src="img/registros.svg" style="width: 50px; height: 50px; float: right;">
            </a>
            <a id="secciones" ng-click="usuarios()">
                <p>Usuarios</p>
                <img src="img/usuarios.svg" style="width: 50px; height: 50px; float: right;">
            </a>
            <a id="secciones" ng-click="bancos()">
                <p>Bancos</p>
                <img src="img/bancos.svg" style="width: 50px; height: 50px; float: right;">
            </a>
            <a id="secciones">
                <p>Integraciones</p>
                <img src="img/enConstruccion.svg" style="width: 50px; height: 50px; float: right;">
            </a>
        </div>
    </div>
    <div class="sidebar2">
        Gráficas
        <div id="canvas-container">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>