<div class="container">
    <div class="header">
            <p>Perfil de {{datosUsuario.login}}</p>
        <button ng-click="logout()" class="btn btn-info">Cerrar sesión</button>
    </div>
    <div class="sidebar1">
        <div id="grid-nav">
            <div id="profile-img">
                <img id="user-profile-img" src="{{imgUsuario}}" alt="imagen-perfil">
            </div>
            <div class="navbar-collapse collapse" id="nav-list">
                <ul class="nav flex">
                    <li class="nav-item w-100">
                        <a class="nav-link active" ng-href="/ulance/client/main">
                            <span class="display-1-inblock">
                                Home
                            </span>
                        </a>
                    </li>

                    <li class="nav-item w-100">
                        <a class="nav-link" ng-href="/ulance/client/profile">
                            <span class="display-2-inblock">
                                Profile
                            </span>
                        </a>
                    </li>

                    <li class="nav-item w-100">
                        <a class="nav-link" ng-href="/ulance/client/cuentas">
                            <span class="display-3-inblock">
                                Cuentas
                            </span>
                        </a>
                    </li>

                    <li class="nav-item w-100">
                        <a class="nav-link" ng-href="/ulance/client/banco">
                            <span class="display-4-inblock">
                                Banco
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-profile">
        <div id="img-profile">
            <img src="{{imgUsuario}}" alt="imagen-perfil">
        </div>
        <div id="button-upload-img-profile">
            <form enctype="multipart/form-data" id="formulario-subir-imagen">
                <input type="file" class="form-control-file" ng-model="subir.img">
            </form>
        </div>
        <button class="btn btn-primary btn-lg" ng-click="submit()">Submit</button>
    </div>
    <div class="data-profile">
        <table id="table">
            <tbody>
                <tr>
                    <td>Id</td>
                    <td>
                        <div>{{datosUsuario.id}}</div>
                    </td>
                </tr>
                <tr>
                    <td>Nombre</td>
                    <td>
                        <div>{{datosUsuario.nombre}}</div>
                    </td>
                </tr>
                <tr>
                    <td>Apellidos</td>
                    <td>
                        <div>{{datosUsuario.primerapellido}} {{datosUsuario.segundoapellido}}</div>
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>
                        <div>{{datosUsuario.email}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>