<div class="container">
    <div class="header">
        <p>Añadir usuario</p>
        <button ng-click="logout()" class="btn btn-info">Cerrar sesión</button>
    </div>
    <div class="sidebar1">
        <div id="grid-nav">
            <div id="profile-img">
                <img id="user-profile-img" src="{{imgUsuario}}" alt="imagen-perfil">
            </div>
            <div class="navbar-collapse collapse" id="nav-list">
                <ul class="nav flex">
                    <li class="nav-item w-100">
                        <a class="nav-link active" ng-href="/ulance/client/main">
                            <span class="display-1-inblock">
                                Inicio
                            </span>
                        </a>
                    </li>

                    <li class="nav-item w-100">
                        <a class="nav-link" ng-href="/ulance/client/profile">
                            <span class="display-2-inblock">
                                Perfil
                            </span>
                        </a>
                    </li>

                    <li class="nav-item w-100">
                        <a class="nav-link" ng-href="/ulance/client/cuentas">
                            <span class="display-3-inblock">
                                Cuentas
                            </span>
                        </a>
                    </li>

                    <li class="nav-item w-100">
                        <a class="nav-link" ng-href="/ulance/client/banco">
                            <span class="display-4-inblock">
                                Bancos
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-cuentas">
        <form ng-if=!status id="formulario-anyadir-usuario">
            <div>
                <input name="nombre" type="text" class="form-control" placeholder="Nombre" size="15" ng-model="datosFormulario.nombre" />
                <p ng-show="datosFormulario.nombre.$invalid && !datosFormulario.nombre.$pristine" class="help-block">Escribe tu nombre</p>
            </div>
            <div>
                <input name="primerapellido" type="text" class="form-control" placeholder="Primer apellido" size="20" ng-model="datosFormulario.primerapellido"
                />
            </div>
            <div>
                <input name="segundoapellido" type="text" class="form-control" placeholder="Segundo apellido" size="20" ng-model="datosFormulario.segundoapellido"
                />
            </div>
            <div>
                <input name="login" type="text" class="form-control" placeholder="Nombre de usuario" size="30" ng-model="datosFormulario.login"
                />
            </div>
            <div>
                <input name="pass" type="password" class="form-control" placeholder="Contraseña" size="24" ng-model="datosFormulario.pass"
                />
            </div>
            <div>
                <input name="email" type="email" class="form-control" placeholder="Email" size="50" ng-model="datosFormulario.email" />
            </div>
            <div>
                <select ng-model="datosFormulario.tipousuario_id" ng-options="tipo.id as tipo.descripcion for tipo in tipoUsuarios">
                    <option value="">No se ha seleccionado</option>
                </select>
            </div>
            <div>
                <a id="boton-crear-usuario" class="btn btn-success" ng-click="add()">Crear usuario</a>
            </div>
        </form>
        <div ng-if="status">
            <h2>{{status}}</h2>
        </div>
    </div>
</div>