<div class="container">
    <div class="header">
        header
        <button ng-click="logout()">Cerrar sesión</button>
    </div>
    <div class="sidebar1">
        <div id="grid-nav">
            <div id="profile-img">logo_userImg-img</div>
            <div class="navbar-collapse collapse" id="nav-list">
                <ul class="nav flex">
                    <li class="nav-item w-100">
                        <a class="nav-link" ng-href="/ulance/client/main">
                            <span class="display-1-inblock">
                                Home
                            </span>
                        </a>
                    </li>

                    <li class="nav-item w-100">
                        <a class="nav-link active" ng-href="/ulance/client/profile">
                            <span class="display-2-inblock">
                                Profile
                            </span>
                        </a>
                    </li>

                    <li class="nav-item w-100">
                        <a class="nav-link" href="#">
                            <span class="display-3-inblock">
                                Object 3
                            </span>
                        </a>
                    </li>

                    <li class="nav-item w-100">
                        <a class="nav-link" href="#">
                            <span class="display-4-inblock">
                                Object 4
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main">
        <!-- DEBUGG -->
        <table class="table table-responsive">
            <tbody>
                <th>Id</th>
                <th>Concepto</th>
                <th>Cantidad</th>
                <th>Fecha</th>
                <th>Perrete</th>
                <th>Gatete</th>
                <tr ng-repeat="registros in pagina">
                    <td>
                        <div>{{registros.id}}</div>
                    </td>
                    <td>
                        <div>{{registros.concepto}}</div>
                    </td>
                    <td>
                        <div>{{registros.cantidad}}</div>
                    </td>
                    <td>
                        <div>{{registros.fecha}}</div>
                    </td>
                    <td>
                        <div>{{registros.categoriamovimiento_id}}</div>
                    </td>
                    <td>
                        <div>{{registros.cuentabancaria_id}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>