<div class="container">
    <div class="header">
        <p>Cuentas de {{username}}</p>
        <button ng-click="logout()" class="btn btn-info">Cerrar sesión</button>
    </div>
    <div class="sidebar1">
        <div id="grid-nav">
            <div id="profile-img">
                <img id="user-profile-img" src="{{imgUsuario}}" alt="imagen-perfil">
            </div>
            <div class="navbar-collapse collapse" id="nav-list">
                <ul class="nav flex">
                    <li class="nav-item w-100">
                        <a class="nav-link" ng-href="/ulance/client/main">
                            <span class="display-1-inblock">
                                Home
                            </span>
                        </a>
                    </li>

                    <li class="nav-item w-100">
                        <a class="nav-link" ng-href="/ulance/client/profile">
                            <span class="display-2-inblock">
                                Profile
                            </span>
                        </a>
                    </li>

                    <li class="nav-item w-100">
                        <a class="nav-link active" ng-href="/ulance/client/cuentas">
                            <span class="display-3-inblock">
                                Cuentas
                            </span>
                        </a>
                    </li>

                    <li class="nav-item w-100">
                        <a class="nav-link" ng-href="/ulance/client/banco">
                            <span class="display-4-inblock">
                                Banco
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-cuentas">
        <div id="containers-cuentas" ng-repeat="cuenta in cuentasBancarias">
            <a ng-href="/ulance/client/cuentas/{{profile}}/{{cuenta.id}}">
                <span>{{cuenta.iban}}</span>
            </a>
            <br>
            <span>Propietario: {{nombreUsuario}} {{primerApellidoUsuario}} {{segundoApellidoUsuario}}</span>
        </div>
    </div>
</div>