<div class="container">
    <div class="header">
        <p>Bancos</p>
        <button ng-click="logout()" class="btn btn-info">Cerrar sesión</button>
    </div>
    <div class="sidebar1">
        <div id="grid-nav">
            <div id="profile-img">
                <img id="user-profile-img" src="{{imgUsuario}}" alt="imagen-perfil">
            </div>
            <div class="navbar-collapse collapse" id="nav-list">
                <ul class="nav flex">
                    <li class="nav-item w-100">
                        <a class="nav-link active" ng-href="/ulance/client/main">
                            <span class="display-1-inblock">
                                Home
                            </span>
                        </a>
                    </li>

                    <li class="nav-item w-100">
                        <a class="nav-link" ng-href="/ulance/client/profile">
                            <span class="display-2-inblock">
                                Profile
                            </span>
                        </a>
                    </li>

                    <li class="nav-item w-100">
                        <a class="nav-link" ng-href="/ulance/client/cuentas">
                            <span class="display-3-inblock">
                                Cuentas
                            </span>
                        </a>
                    </li>

                    <li class="nav-item w-100">
                        <a class="nav-link" ng-href="/ulance/client/banco">
                            <span class="display-4-inblock">
                                Banco
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-banco">
        <div ng-repeat="banco in bancos" id="containers-bancos">
            <a ng-href="cuentasbanco/{{banco.id}}">
                <img src="{{banco.imagen}}" width="150" height="150"></img>
            </a>
        </div>
        <div ng-if="usuarioEnSesion.tipousuario_id == 1">
            <button id="boton-anyadir-banco" class="btn btn-success" ng-click="anyadirBanco()">Añadir Banco</button>
        </div>
    </div>
</div>